.background {
    background-image: url(../img/darkwood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#scrollspyHome {
    overflow-y: hidden;
}

.navigation {
    overflow: hidden;
    position: fixed;
    top: 35%;
}

.snapchat, .instagram, .mail {
    text-decoration: none;
    color: black;
}

.rounded {
    border: 1px solid #696969;
}