.background {
    background-image: url(../img/grayhexagon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#scrollspyHome {
    overflow-y: hidden;
}

.navigation {
    overflow: hidden;
    position: fixed;
    top: 35%;
}

.rounded {
    border: 1px solid #696969;
}

.socials {
    font-size: 150px;
    padding-top: 300px;
    text-decoration: none;
}